<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PitSkill A Tot Drap</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-app-bar app primary class="elevation-4">
                    <v-toolbar-title secondary>PitSkill A Tot Drap</v-toolbar-title>
                </v-app-bar>
                <v-tabs v-model="tab">
                    <v-tab>
                        Registres a curses
                    </v-tab>
                    <v-tab>
                        Ranking de pilots
                    </v-tab>

                    <v-tab-item class="mx-4">
                        <v-card flat>
                            <v-card-title>
                                <v-text-field v-model="registrationsSearch" label="Cerca registres" append-icon="mdi-magnify" single-line hide-details></v-text-field>
                            </v-card-title>
                            <v-data-table :headers="registrationHeaders" :items="filteredRegistrations" class="elevation-4 mt-5" disable-pagination :hide-default-footer="true">
                                <template v-slot:top>
                                    <v-toolbar flat>
                                        <v-toolbar-title>Registres</v-toolbar-title>
                                    </v-toolbar>
                                </template>
                                <template v-slot:item="props">
                                    <tr :class="getRegistrationRowClass(props.item['Upcoming Event'])">
                                        <td>{{ props.item.Driver }}</td>
                                        <td v-html="timeUntil(props.item['On Date'])"></td>
                                        <td>
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-bind="attrs" v-on="on">{{ props.item['Upcoming Event'] }}</span>
                                                </template>
                                                <span>{{ props.item.Server }}</span>
                                            </v-tooltip>
                                        </td>
                                        <td>
                                            <v-btn
                                                :href="props.item['Enroll Link']"
                                                target="_blank"
                                                icon>
                                                <v-icon>mdi-open-in-new</v-icon>
                                            </v-btn>
                                        </td>
                                        <td>{{ props.item['Server SoF'] }}</td>
                                        <td>{{ props.item['Server Splits'] }}</td>
                                        <td>{{ props.item.Car }}</td>
                                        <td>
                                            <v-menu open-on-hover>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <div v-bind="attrs" v-on="on">{{ props.item.Track }}</div>
                                                </template>
                                                <v-card>
                                                    <v-img
                                                        :src="props.item['Circuit Image']"
                                                        max-width="600"
                                                        class="big-img"></v-img>
                                                </v-card>
                                            </v-menu>
                                        </td>
                                        <td>{{ props.item.Registration }}</td>
                                        <td v-html="props.item.Broadcasted"></td>
                                    </tr>
                                </template>
                            </v-data-table>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item class="mx-4">
                        <v-card flat>
                            <v-card-title>
                                <v-text-field v-model="driversSearch" label="Cerca pilots" append-icon="mdi-magnify" single-line hide-details></v-text-field>
                            </v-card-title>
                            <v-data-table :headers="headers" :items="filteredDrivers" class="elevation-4" disable-pagination :hide-default-footer="true">
                                <template v-slot:top>
                                    <v-toolbar flat>
                                        <v-toolbar-title>Pilots</v-toolbar-title>
                                    </v-toolbar>
                                </template>
                                <template v-slot:item="props">
                                    <tr>
                                        <td>
                                            <v-avatar size="64">
                                                <v-img :src='props.item.Image' />
                                            </v-avatar>
                                        </td>
                                        <td>
                                            <a :href="'https://pitskill.io/driver-license/'+ props.item['Driver Id']" target="_blank">
                                                {{ props.item['Driver Name'] }}
                                            </a>
                                        </td>
                                        <td>
                                            <span :class="getLicenceClass(props.item.Licence)">{{props.item.Licence}}</span>
                                        </td>
                                        <td>
                                            <v-menu open-on-hover>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-bind="attrs" v-on="on">{{ props.item.PitRep }}</span>
                                                </template>
                                                <v-card>
                                                    <v-card-title>PitRep History</v-card-title>
                                                    <v-card-text>
                                                        <v-sparkline :value="props.item.Stats.PitRep" color="blue"></v-sparkline>
                                                    </v-card-text>
                                                </v-card>
                                            </v-menu>
                                        </td>
                                        <td>
                                            <v-menu open-on-hover>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <span v-bind="attrs" v-on="on">{{ props.item.PitSkill }}</span>
                                                </template>
                                                <v-card>
                                                    <v-card-title>PitSkill History</v-card-title>
                                                    <v-card-text>
                                                        <v-sparkline :value="props.item.Stats.PitSkill" color="red"></v-sparkline>
                                                    </v-card-text>
                                                </v-card>
                                            </v-menu>
                                        </td>
                                        <td v-html="timeUntil(props.item['Last Activity'])"></td>
                                    </tr>
                                </template>
                            </v-data-table>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.10/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/ca.js"></script>

    <script>
        moment.locale('ca');

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: () => ({
                tab: null,
                driversSearch: '',
                registrationsSearch: '',
                headers: [
                    { text: 'Imatge', align: 'start', sortable: false, value: 'Image' },
                    { text: 'Nom del pilot', value: 'Driver Name' },
                    { text: 'Llicència', value: 'Licence' },
                    { text: 'PitRep', value: 'PitRep' },
                    { text: 'PitSkill', value: 'PitSkill' },
                    { text: 'Última activitat', value: 'Last Activity' },
                ],
                registrationHeaders: [
                    { text: 'Pilot', value: 'Driver' },
                    { text: 'Data', value: 'On Date' },
                    { text: 'Esdeveniment proper', value: 'Upcoming Event' },
                    { text: 'Inscripció', value: 'Enroll Link' },
                    { text: 'Servidor SoF', value: 'Server SoF' },
                    { text: 'Divisions del servidor', value: 'Server Splits' },
                    { text: 'Cotxe', value: 'Car' },
                    { text: 'Circuit', value: 'Track' },
                    { text: 'Inscrits', value: 'Registration' },
                    { text: 'Retransmissió', value: 'Broadcasted' },
                ],
                drivers: [],
                registrations: [],
            }),
            computed: {
                filteredDrivers() {
                    return this.drivers.filter(driver => {
                        const searchTerm = this.driversSearch.toLowerCase();
                        return Object.values(driver).some(value =>
                            value.toString().toLowerCase().includes(searchTerm)
                        );
                    });
                },
                filteredRegistrations() {
                    return this.registrations.filter(registration => {
                        const searchTerm = this.registrationsSearch.toLowerCase();
                        return Object.values(registration).some(value =>
                            value.toString().toLowerCase().includes(searchTerm)
                        );
                    });
                }
            },
            created() {
                this.fetchData();
            },
            methods: {
                fetchData() {
                    fetch('./data.json')
                        .then(response => response.json())
                        .then(data => {
                            this.drivers = data.drivers.data;
                            this.registrations = data.registrations.data;
                        })
                        .catch(error => console.error('Error fetching data:', error));
                },

                getRegistrationRowClass(upcomingEvent) {
                    const eventCount = this.registrations.filter(reg => reg['Upcoming Event'] === upcomingEvent).length;
                    const intensity = Math.min(255, 100 + eventCount * 10);
                    return {
                        'bg-red-100': intensity <= 150,
                        'bg-red-200': intensity > 150 && intensity <= 200,
                        'bg-red-300': intensity > 200 && intensity <= 255,
                    };
                },

                getLicenceClass(license) {
                    const licenseColorMap = {
                        'S Class': 'bg-green-500',
                        'A Class': 'bg-red-500',
                        'B Class': 'bg-blue-500',
                        'C Class': 'bg-purple-500',
                        'Rookie': 'bg-gray-500',
                    };

                    return `text-white rounded-full whitespace-nowrap px-3 py-1 ${licenseColorMap[license] || 'bg-default'}`;
                },

                timeUntil(dateString) {
                    return dateString + ' <b>(' + moment(dateString, "DD/MM/YY HH:mm").fromNow() + ')</b>';
                }
            },
        });
    </script>
</body>

</html>