<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pitskill Current Standings</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto px-4 mt-5">
        <h1 class="text-center text-3xl font-bold mb-4">Pitskill Current Standings</h1>
            <table class="min-w-full bg-white border border-gray-300">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        {% for column in columns %}
                            <th class="py-2 px-4 border-b whitespace-nowrap">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for driverData in driversData %}
                        <tr class="hover:bg-gray-100">
                            {% for column in columns %}
                                <td class="py-2 px-4 border-b text-center whitespace-nowrap">
                                {{ driverData[column]|raw }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</body>
</html>
